header {
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 1.2rem;
}
header nav {
  background: var(--bgheader);
  padding: 0.77rem 1.6rem;
  border-radius: 55px;
  box-shadow: 1px 1px 10px var(--yellow);
}
header ul.flex {
  gap: 16px;
}
header ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;
}
header ul li a:hover {
  color: var(--yellow);
  opacity: 1;
  font-size: 0.9rem;
}
header button {
  font-size: 1.2rem;
}
header .menu {
  display: none;
}
/* icon btn */
header .icon-menu,
header .mode {
  background-color: var(--bgheader);
  height: 2.4rem;
  width: 2.4rem;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  color: var(--subtitle);
  border: 1px solid rgb(244, 165, 96, 0.249);
  transition: 0.2s;
}
header .icon-menu:hover,
header button.mode:hover {
  color: var(--title);
  border: 1px solid var(--yellow);
}
header .icon-close {
  font-size: 1.5rem;
  color: var(--subtitle);
  transition: 0.3s;
}
header .icon-close:hover {
  font-size: 1.7rem;
  color: var(--yellow);
  rotate: 180deg;
}
/* model pop up */
header .fixed {
  position: fixed;
  inset: 0;
  background: rgb(40, 40, 48, 0.81);
  z-index: 10;
}
@keyframes move {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
header .fixed ul.model {
  animation: move 0.7s 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}
header .fixed ul.model li {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}
header .fixed ul.model li:last-child {
  border: none;
}
header .fixed ul.model li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: 0.2rem;
}
header .fixed ul.model li a {
  font-size: 1rem;
}
@media (max-width: 700px) {
  header nav {
    display: none;
  }
  header .menu {
    display: block;
  }
}
